# ============================
# DATABASE
# ============================
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_strong_password

SUBSCRIPTION_POSTGRES_DB=subscription_db
SUBSCRIPTION_POSTGRES_PORT=5432

SUBSCRIPTION_DB_SOURCE=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${SUBSCRIPTION_POSTGRES_DB}?sslmode=disable
SUBSCRIPTION_DB_MAX_OPEN_CONNS=25
SUBSCRIPTION_DB_MAX_CONN_IDLE_TIME=30m
SUBSCRIPTION_DB_HEALTH_CHECK_PERIOD=1m

TRACKER_POSTGRES_DB=tracker_db

TRACKING_DB_SOURCE=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${TRACKER_POSTGRES_DB}?sslmode=disable
TRACKING_DB_MAX_OPEN_CONNS=25
TRACKING_DB_MAX_CONN_IDLE_TIME=30m
TRACKING_DB_HEALTH_CHECK_PERIOD=1m

# ============================
# APPLICATION
# ============================
APP_HTTP_PORT=8080
APP_GRPC_PORT=9091
APP_BASE_URL=http://localhost:${APP_HTTP_PORT}
APP_API_KEY=my-super-secret-token-123

# ============================
# HTTP
# ============================
HTTP_SHUTDOWN_TIMEOUT=5s
HTTP_REQUEST_TIMEOUT=5s

# ============================
# REDIS
# ============================
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password
REDIS_DB=0

# ============================
# RATE LIMITING
# ============================
RATE_LIMIT=10-S

# ============================
# EMAIL
# ============================
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=user
EMAIL_PASSWORD=password
EMAIL_FROM=from_email_address

# ============================
# GitHub
# ============================
GITHUB_TOKEN=your_github_token
GITHUB_HTTP_TIMEOUT=10s
GITHUB_CB_MAX_REQUESTS=3
GITHUB_CB_INTERVAL=5s
GITHUB_CB_TIMEOUT=30s
GITHUB_CB_FAILURE_THRESHOLD=3

# ============================
# MESSAGE BROKER
# ============================
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672
RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@rabbitmq:5672/

# ============================
# WORKER
# ============================
NOTIFICATION_INTERVAL=1m
WORKER_MAX_SEND_WORKERS=10
WORKER_HEALTH_PORT=8081
TAG_PUBLISHER_TYPE=grpc

# ============================
# SENDER
# ============================
WORKER_SEND_TIMEOUT=5s
SENDER_HEALTH_PORT=8082

# ============================
# Metrics
# ============================
GRAFANA_PORT=3030
PROMETHEUS_PORT=9090

# ============================
# Documentation
# ============================
SWAGGER_PORT=9080