# Subscription service (container: repo-notifier-service)

# ============================
# DATABASE
# ============================
SUBSCRIPTION_DB_SOURCE=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${SUBSCRIPTION_POSTGRES_DB}?sslmode=disable
SUBSCRIPTION_DB_MAX_OPEN_CONNS=25
SUBSCRIPTION_DB_MIN_CONNS=5
SUBSCRIPTION_DB_MAX_CONN_IDLE_TIME=30m
SUBSCRIPTION_DB_HEALTH_CHECK_PERIOD=1m

# ============================
# HTTP / gRPC
# ============================
APP_HTTP_PORT=${APP_HTTP_PORT}
APP_GRPC_PORT=${APP_GRPC_PORT}
HTTP_SHUTDOWN_TIMEOUT=5s
HTTP_REQUEST_TIMEOUT=5s

# ============================
# APP IDENTITY
# ============================
APP_BASE_URL=http://localhost:${APP_HTTP_PORT}
APP_API_KEY=my-super-secret-token-123

# ============================
# RATE LIMITING
# ============================
RATE_LIMIT=10-S

# ============================
# REDIS
# ============================
REDIS_HOST=redis
REDIS_PORT=${REDIS_PORT}
REDIS_PASSWORD=${REDIS_PASSWORD}
REDIS_DB=0

# ============================
# MESSAGE BROKER
# ============================
RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@rabbitmq:5672/

# ============================
# TRACKING gRPC CLIENT
# ============================
TRACKING_GRPC_ADDR=tracking-service:${TRACKING_GRPC_PORT}
