# Tracking service (container: notification-worker)

# ============================
# DATABASE
# ============================
TRACKING_DB_SOURCE=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${TRACKER_POSTGRES_DB}?sslmode=disable
TRACKING_DB_MAX_OPEN_CONNS=25
TRACKING_DB_MIN_CONNS=5
TRACKING_DB_MAX_CONN_IDLE_TIME=30m
TRACKING_DB_HEALTH_CHECK_PERIOD=1m

# ============================
# gRPC
# ============================
TRACKING_GRPC_PORT=${TRACKING_GRPC_PORT}

# ============================
# APP IDENTITY
# ============================
APP_BASE_URL=http://localhost:${APP_HTTP_PORT}
APP_API_KEY=my-super-secret-token-123

# ============================
# REDIS
# ============================
REDIS_HOST=redis
REDIS_PORT=${REDIS_PORT}
REDIS_PASSWORD=${REDIS_PASSWORD}
REDIS_DB=0

# ============================
# GitHub
# ============================
GITHUB_TOKEN=your_github_token
GITHUB_HTTP_TIMEOUT=10s
GITHUB_CB_MAX_REQUESTS=3
GITHUB_CB_INTERVAL=5s
GITHUB_CB_TIMEOUT=30s
GITHUB_CB_FAILURE_THRESHOLD=3

# ============================
# WORKER
# ============================
NOTIFICATION_INTERVAL=1m
WORKER_MAX_SEND_WORKERS=10
WORKER_HEALTH_PORT=${WORKER_HEALTH_PORT}
TAG_PUBLISHER_TYPE=grpc

# ============================
# MESSAGE BROKER
# ============================
RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@rabbitmq:5672/

# ============================
# SUBSCRIPTION gRPC CLIENT
# ============================
SUBSCRIPTION_GRPC_ADDR=repo-notifier-service:${APP_GRPC_PORT}
